.about-us-page{
  padding: 60px 0;

  h2{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
  }

  .about-us-page-text{
    h5{
      font-weight: 600; margin-top: 40px; margin-bottom: 20px;
      font-size: 19px;
    }

    p{
      color: #333;
    }
  }
}