.coordinates{
  padding: 100px 0;
  font-family: 'Montserrat', sans-serif;

  h3{
    color: #0089EC;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 70px;
    text-align: center;
  }

  .coordinate-boxes{
    display: flex;
    flex-wrap: wrap;
    height: 310px;
    justify-content: center;

    .coordinate-box{
      text-align: center;
      height: 100%;
      position: relative;
      padding: 0 80px;

      &:nth-child(2){
        border-left: 1px solid #696969;
        border-right: 1px solid #696969;;
      }

      h4{
        font-size: 28px;
        font-weight: 700;
        text-transform: uppercase;
        padding-top: 160px;
        margin-bottom: 28px;
      }

      .coordinate-address{
        background: url("../images/home.png") no-repeat 50% 0;
      }

      .coordinate-phone{
        background: url("../images/telephone.png") no-repeat 50% 0;
      }

      .coordinate-email{
        background: url("../images/envelope.png") no-repeat 50% 0;
      }

      .coordinate-links{
        margin-bottom: 30px;
      }

      img{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  h5{
    font-size: 24px;
    text-align: center;
    margin-top: 100px;
  }
}