@use "../var/mixins" as *;

.header{
  background-color: #252525;
  padding: 10px 0;

  .header-row{
    display: flex;
    color: #fff;
    position: relative;

    @include xl{
      display: block;
    }

    .main-nav{
      overflow: hidden;
      transition: height 0.4s;
      width: 100%;

      .header-sides{
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include xl{
          display: block;
        }
      }

      .header-left{

        .header-links{
          display: flex;

          @include xl{
            display: inline-block;
          }

          .header-link{
            margin-left: 50px;

            @include xl{
              margin-left: 0;
              border-bottom: 1px solid #333;
              padding: 10px 0;
              font-size: 22px;
            }
          }

          .header-link:hover{
            color: #0089EC;
            text-decoration: underline;
            transition: 0.3s ease;
          }
        }
      }



      .header-right{
        display: flex;
        align-items: center;

        @include xl{
          display: block;
          margin-top: 10px;
          font-size: 22px;
        }

        .header-gps:hover{
          cursor:pointer;
          color: #0089EC;
          text-decoration: underline;
          transition: 0.3s ease;
        }
      }

      .header-right>*:not(:last-child){
        margin-right: 40px;

        @include xl{
          border-bottom: 1px solid #333;
          padding: 10px 0;
          margin-right: 0;
          margin-top: 10px;
        }
      }

      .language-dropdown {
        position: relative;
        display: inline-block;
      }

      .current-language-btn {
        padding: 8px 12px;
        background-color: #f0f0f0;
        cursor: pointer;
        margin: 18px 0;

        @include xl{
          font-size: 22px;
        }
      }

      .language-list {
        position: absolute;
        display: none;
        list-style-type: none;
        padding: 0;
        margin: 0;
        background-color: #fff;
        border: 1px solid #ccc;
      }

      .language-list li {
        padding: 8px 12px;

        @include xl{
          font-size: 22px;
        }
      }

      .language-list li a {
        text-decoration: none;
        color: #000;
        display: block;
        border-radius: 2px;
      }

      .language-list li a:hover {
        background-color: #D9D9D9;
      }

      .ru{
        padding: 0 10px 0 35px;
        color: #fff;
        background: url("../images/ru.svg") no-repeat 5px 50%;
      }

      .eng{
        padding: 0 10px 0 35px;
        color: #fff;
        background: url("../images/eng.svg") no-repeat 5px 50%;
      }

      .kg{
        padding: 0 10px 0 35px;
        color: #fff;
        background: url("../images/kg.svg") no-repeat 5px 50%;
      }
    }
  }

  .nav-btn{
    width: 44px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 18px;
    display: none;
    background: transparent;
    border-radius: 5px;
    cursor: pointer;
    background: url('../images/burger.svg') no-repeat;

    @include xl{
      display: block;
    }
  }

  .nav-hidden{
    height: auto;

    @include xl{
      height: 0;
    }
  }
}